@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media (max-width: 1080px) {
    .weekButton {
        display: none;
    }
}

@media (min-width: 1081px) {
    .dayButton {
        display: none;
    }

}

*{
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-color: #a9cdab; */
    background-color: white;
    font-weight: 400;
}

.container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    height: 10%;
    border: 1px solid #458f49;
    background-color: #d2e4d3;
}

.schedule {
    font-size: 20px;
    margin: 10px 0px;
    border-radius:15px;
    padding: 20px;
    width: 80%;
    height: 80%;
    border: 1px solid #458f49;
    background-color: #d2e4d3;
}

.scheduleHeader {
    display: flex;
    justify-content: space-between;
    background-color: #d2e4d3;
}

.scheduleBody {
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    height: 80%;
    border: 1px solid #458f49;
    background-color: #d2e4d3;
    border-radius: 15px;
}

button {
    padding: 10px;
    font-size: 20px;
    color: #2b415a;
    border: 1px solid #458f49;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
}

table {   
    font-size: 18px;
    width: 100%;
    border: 1px solid #458f49;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    background: white;
    border-radius: 15px;
}

td, th {
    border: 1px solid #458f49;
    width: 100px;
    text-align: left;
    padding: 10px;
}

td:first-child {
    text-align: center;
}

.groupLink {
    font-size: 12px;
    color: #6a92c0;
}

.tableHead {
    background-color: #a9cdab;
    text-align: center;
}

a {
    color: #1b92d6;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
